@font-face {
    src: url("/fonts/Mylodon-Light.otf");
    font-family: "Myriad";
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.watercolor_bg {
    width: auto;
    height: 100vh;
    background: url("/images/watercolor_bg.png") 50% 50% no-repeat;
    background-size: cover;
    animation: bg 1.5s linear;
}

.face {
    position: relative;
    width: auto;
    height: 100vh;
    background: no-repeat url("/images/face.png");
    background-position: 50% 50%;
    background-size: contain;
    animation: face 1.5s linear;
}


.arc, .line, .butterfly {
    position: absolute;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
}

.arc { animation: arc 1.5s ease-out; }

.butterfly { animation: butterfly 5s linear infinite; }

.butterfly-blue { background-image: url("/images/butterfly_blue.png"); }

.butterfly-purple { 
    background-image: url("/images/butterfly_purple.png"); 
    animation-delay: -0.75s;
    animation-duration: 4s;
}

.arc1 { background-image: url("/images/arc1.png"); }

.arc2 { 
    background-image: url("/images/arc2.png");
    animation-direction: reverse;
}

.lion {
    background-image: url("/images/line_lion.png");
    animation: lion ease-in-out 1.05s;
}

.palmtree {
    background-image: url("/images/line_palmtree.png");
    animation: palmtree ease-in-out 1.33s;
}

.watercolor-pink {
    background-image: url("/images/line_watercolor-pink.png");
    animation: watercolor-pink ease-in-out 2.1s;
}

.nails {
    background-image: url("/images/line_nails.png");
    animation: nail ease-in-out 1.7s;
}

.galaxy {
    background-image: url("/images/line_galaxy.png");
    animation: galaxy ease-out 2.33s -1s;
}

.clockface {
    position: absolute;
    background-image: url("/images/analog-clockface.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: clockface 1s linear infinite;
}

.clock-helperline {
    position: absolute;
    background-image: url("/images/clock_helperline.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.time-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vh;
    height: 10vh;
}

.time {
    color: #272727;
    font-size: 3vh;
    font-family: "Myriad";
}

@media only screen and (max-width: 400px) {
    body {
        /* background: rgba(255, 166, 0, 0.428); */
    }
    .face {
        min-width: 90vw;
    }
    .arc1, .arc2 {
        top: calc(50vh - 24.5vh);
        left: calc(50vw - 24vh);
        width: 48vh;
        height: 48vh;       
    }
    .lion {
        top: 32vh;
        left: calc(50vw + 1vh);
        width: 28vh;
        height: 28vh;
    }
    .palmtree {
        top: 0vh;
        left: calc(50vw + 2vh);
        width: 50vh;
        height: 50vh;
    }
    .watercolor-pink {
        top: 10vh;
        left: calc(50vw + 3vh);
        width: 30vh;
        height: 30vh;
    }
    .nails {
        top: 44vh;
        left: calc(50vw - 19vh);
        width: 45vh;
        height: 45vh;
    }
    .galaxy {
        top: 42.3vh;
        left: calc(50vw - 19vh);
        width: 27.5vh;
        height: 27.5vh;
    }
    .butterfly-blue {
        top: 23.5vh;
        left: calc(50vw + 5.5vh);
        width: 3.5vh;
        height: 3.5vh;
    }
    .butterfly-purple {
        top: 61vh;
        left: calc(50vw - 22vh);
        width: 3.5vh;
        height: 3.5vh;
    }
    .clockface {
        width: 52vh;
        height: 52vh;
        top: 23.5vh;
        left: calc(50vw - 26vh);
    }
    .clock-helperline {
        top: 24vh;
        left: calc(50vw - 28vh);
        width: 20vh;
        height: 20vh;
        transform: rotate(-9deg);
    }
}

@media only screen and (min-width: 401px) {
    body {
     /*  background: #90ee9074;*/
    }
    .face {
        margin-top: -10vh;
        height: 120vh;
    }
    .arc1, .arc2 {
        top: calc(50vh - 29vh);
        left: calc(50vw - 28vh);
        width: 57vh;
        height: 57vh;   
    }
    .lion {
        top: 20vh;
        left: calc(50vw + 13vh);
        width: 34vh;
        height: 34vh;
    }
    .palmtree {
        top: 2vh;
        left: calc(50vw + 4vh);
        width: 50vh;
        height: 50vh;
    }
    .watercolor-pink {
        top: 6vh;
        left: calc(50vw + 11vh);
        width: 32vh;
        height: 32vh;
    }
    .nails {
        top: 40vh;
        left: calc(50vw - 22vh);
        width: 55vh;
        height: 55vh;
    }
    .galaxy {
        top: 49.5vh;
        left: calc(50vw - 24vh);
        width: 29vh;
        height: 29vh;
    }
    .butterfly-blue {
        top: 20vh;
        left: calc(50vw + 10vh);
        width: 4.5vh;
        height: 4.5vh;
    }
    .butterfly-purple {
        top: 70vh;
        left: calc(50vw - 30vh);
        width: 4.5vh;
        height: 4.5vh;
    }
    .clockface {
        width: 64vh;
        height: 64vh;
        top: 17.5vh;
        left: calc(50vw - 32vh);
    }
    .clock-helperline {
        top: 18vh;
        left: calc(50vw - 37vh);
        width: 26vh;
        height: 26vh;
        transform: rotate(-12deg);
    }
}

@keyframes bg {
    from { transform: scale(96%) }
    to { transform: scale(100%); }
}

@keyframes face {
    0% { filter: grayscale(100%) blur(5px); }
    65% { filter: grayscale(70%) blur(1px); }
    100% { filter: grayscale(0) blur(0); }
}

@keyframes arc {
    from { transform: rotate(1deg); }
    to { transform: rotate(360deg); }
}

@keyframes lion {
    from { transform: translate(-100vh, 100vh); }
    to { transform: translate(0, 0); }
}

@keyframes palmtree {
    0% { transform: translate(-100vh, 100vh); }
    25% { transform: translate(-100vh, 100vh); }
    100% { transform: translate(0, 0); }
}

@keyframes watercolor-pink {
    0% { transform: translate(-100vh, 100vh); }
    45% { transform: translate(-100vh, 100vh); }
    50% { transform: translate(-95vh, 95vh); }
    78% { transform: translate(6vh, -6vh); }    
    87% { transform: translate(-1.2vh, 1.2vh); }
    95% { transform: translate(0.7vh, -0.7vh); }
    100% { transform: translate(0, 0); }
}

@keyframes nail {
    0% { transform: translateY(40vh); }
    84% { transform: translateY(45vh); }
    87% { transform: translateY(-9vh); }
    95% { transform: translateY(6vh); }
    100% { transform: translateY(0); }
}

@keyframes galaxy {
    0% { transform: translate(12vh, -12vh)}
    95% { transform: translate(12vh, -12vh)}
    100% { transform: translate(0, 0)}
}

@keyframes butterfly {
    0% { transform: translate(0, 0) rotate(0.5deg) rotate3d(1, 1, 1, 15deg); }
    20% { transform: translate(1px, -1px) rotate(-0.5deg) rotate3d(0, 0, 0, 0); }
    40% { transform: translate(-1px, -1px) rotate(1deg) rotate3d(-1, -1, -1, 15deg); }
    60% { transform: translate(1px, 1px) rotate(-0.5deg) rotate3d(0, 0, 0, 0); }
    80% { transform: translate(-1px, 1px) rotate(0.5deg) rotate3d(1, 1, 1, -15deg); }
    100% { transform: translate(0, 0) rotate(0.5deg) rotate3d(1, 1, 1, 15deg); }
}

@keyframes clockface {
    0% { transform: rotate(0); }
    90% { transform: rotate(0); }
    95% { transform: rotate(-7deg); }
    100% { transform: rotate(-6deg); }
}